.footer{
  background-color: #333447;
}

.link-foot{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li{
  list-style: none;
}

.footer a{
  text-decoration: none;
  color: white;
}

.footer a:hover{
  color: #FF00BF;
}

.icon{
  color: white;
  width: 34%;
  margin: auto;
  text-align: center;
}
